@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-color: #232323;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100%;
}

.navbar {
  padding: 15px 18px !important;
}

.nav-item .nav-link {
  color: rgba(255, 255, 255, 0.92);
  font-size: 14px;
  font-weight: 500;
}

.logo {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.848);

}

.nav-item {
  margin: 0px 10px;
  position: relative;
}

.nav-link::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: rgb(36, 193, 255);
  width: 0%;
  height: 3px;
  transition: 0.5s ease-in-out;
}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(36, 193, 255);
}

.btn-navbar {
  display: inline-block;
  padding: 10px 43px;
  border: 1px solid rgb(36, 193, 255);
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(36, 193, 255);
  transition: 0.2s ease;
}

.btn-navbar:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}


/* home section start */

.content-home2 {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 74px;
}

.home-span {
  color: rgb(36, 193, 255);
}

.para-home {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.42);
  max-width: 100%;
  line-height: 24px;
  margin: 14px 0px;
  text-align: justify;
}

.home-links {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(36, 193, 255);
  background-color: rgb(36, 193, 255);
  margin: 20px 0px;
  margin-right: 7px;
  border-radius: 50px;
  padding: 10px 37px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn-home {
  text-align: right;
}

.home-links:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}

.img-home {
  margin-right: 20px;
  width: 95%;
}

/* sekcja css dla kalkulatora */

.calc-container {
  width: 100%;
  height: 495px;
}

.calc {
  width: 100%;
  height: 75%;
  background-color: rgb(54, 54, 54);
  margin-top: 140px;
  position: relative;
}

.content-calc {
  padding: 15px 25px;
}

.heading-calc {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 129, 57);
  margin: 10px 0px;
  margin-bottom: 34px;
  position: relative;
}

.heading-calc::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 50px;
  height: 1px;
}

.para-calc {
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.695);
  line-height: 21px;
  margin: 25px 0px;
  text-align: justify;
}

.link-calc {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(255, 129, 59, 0.5);
  color: rgb(255, 129, 57);
  display: inline-block;
  border-radius: 30px;
  font-size: 11px;
  font-weight: 600;
  padding: 8px 22px;
  position: relative;
  z-index: 22;
  margin-bottom: 15px;
}

.link-calc:hover {
  color: white;
  border: 1px solid rgb(36, 193, 255);
}

.span-link-about {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(36, 193, 255);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease-in-out;
  border-radius: 30px;
}

.link-calc:hover .span-link-about {
  width: 100%;
}

.calc-image {
 height: 415px;
 width: auto;
 position: relative;
 top: -20px;
 right: 20px;
}

/* sekcja css dla chorób */

.fat-diseases {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  margin-top: 10px;
}

.heading-fat-diseases {
  font-size: 34px;
  color: rgb(255, 129, 57);
  margin-bottom: 80px;
  position: relative;
}

.heading-fat-diseases::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 56px;
  height: 1px;
}

.carousel-control-prev {
  width: 4%;
}

.carousel-control-next{
  width: 4%;
}

.card-diseases {
  padding: 14px 10px;
  background-color: #242424 !important;
  height: 465px;
  margin-bottom: 10px;
  position: relative;
}

.img-card {
  height: 225px;
}

.card-title{
  font-size: 14px;
  color:rgb(255, 129, 57);
  width: 100%;
  border-bottom: solid rgb(255, 129, 57);
  padding: 5px 0px;
  margin: 10px 0px;
  margin-bottom: 20px !important;
}

.card-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}

.btn-diseases {
  color: rgb(255, 129, 57);
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  position: absolute;
  top: 425px;
}

.btn-diseases:hover {
  color: rgb(250, 183, 144);
}

.button-left {
  position: absolute;
  left: 20px;
  padding: 10px 12px;
}

.button-right {
  position: absolute;
  right: 20px;
  padding: 10px 12px;
}

/* sekcja css dla "co dalej" */


.what-next {
  width: 100%;
  height: 750px;
  padding: 20px;
  margin-top: 60px;
}

.heading-what-next {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.884);
  margin-bottom: 35px;
}

.para-what-next {
  color: rgba(255, 255, 255, 0.856);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center !important;
  max-width: 760px;
  margin: 12px auto;
  line-height: 25px;
}

.container-what-next {
  margin: 100px 0px 20px 0px;
}

.styling-carousel {
  display: flex;
  justify-content: center;
}

.container-content {
  width: 90%;
  height: 350px;
  background-image: linear-gradient(180deg, rgba(244, 129, 63, 1) 0%, rgba(241, 85, 106, 1) 100% );
  margin: auto;
  padding: 30px;
  text-align: end;
  border-radius: 5px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  position: relative;
  transition: 0.4s ease-in;
}

.container-content:hover {
  transform: translateY(-12px);
}

.img-what-next {
  position: absolute;
  top: -35px;
  left: -35px;
  width: 140px;
  height: 140px;
  border-radius: 50% !important;
}

.image-what-next {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.what-next-title-text {
  font-size: 28px;
  margin-top: 95px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.what-next-para {
  color: rgba(255, 255, 255, 0.877);
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
  margin: 26px 0px 15px 0px;
  text-align: center;
}

.btn-what-next {
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin-top: 38px;
  text-align: right;
  text-decoration: none;
  position: relative;
}

.btn-what-next::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  background-color: white;
  width: 28px;
  height: 1px;

}

.btn-what-next:hover {
  color: #cacaca;
}

.carousel-indicators button {
  background-color: rgb(255, 129, 57);
}

.carousel-indicators {
  position: absolute;
  bottom: -68px !important;
}

/* CSS dla kontaktu */

.contact-form {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-contact {
  font-size: 34px;
  color: rgb(255, 129, 57);
  margin-bottom: 80px;
  position: relative;
}

.heading-contact::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 56px;
  height: 1px;
}

.form-origin {
  width: 100%;
  height: 480px;
  background-color: rgb(42 , 41, 41);
  padding: 50px 30px;
  border-radius: 3%;
}

.form-origin input {
  color: #777;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
  margin-bottom: 40px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.842) !important;
}

.form-origin textarea {
  height: 200px;
  padding: 20px;
  font-size: 14px;
  background-color: transparent;
  max-height: 230px;
  color: #777;
}

.btn-contact {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  border: none;
  outline: none;
  background-color: #f4813f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 20px 0px;
  border: 2px solid rgb(255, 129, 57);
}

.contact-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px 18px;
  justify-content: center;
  flex-direction: column;
}

.heading-contact-content {
  color: white;
  margin-bottom: 30px;
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
}

.heading-contact-content span {
  color: rgb(255, 129, 57);
}


.para-content {
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.918);
  margin: 16px 0px;
}

/* CSS dla stopki */

footer {
  background-color: rgb(4, 4, 4);
  margin: 0px 0px !important;
  height: 70px;
  margin-top: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.para-footer {
  margin: 0px 0px;
}


/* CSS dla strony Kalkulatora */

.bmi-form {
  width: 100%;
  height: 700px;
  margin-top: 45px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-bmi {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

form .btn-bmi{
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgb(255, 129, 57);
  color: white;
  background: rgb(255, 129, 57);
  margin-top: 20px;
  margin: 10px 15px;
  padding: 15px 5px;
  transition: ease-in 0.2s;
}

form .btn-bmi:hover {
  border: 1px solid rgb(36, 193, 255);
  background-color: transparent !important;
}

.height-warrning {
  color: rgba(241, 85, 106, 1);
  margin: 0px auto;
  padding: 13px 0px;
  font-weight: 500;
  text-transform: uppercase;
}


.bmiscore {
  color: rgb(255, 129, 57);
  font-size: 18px;
}

.bmi_score_note{
  color: rgb(36, 193, 255);
  display: block;
  margin: 5px 10px;
  text-align: justify;
}

.bmi_score_note_red{
  color: rgb(255, 0, 0);
  display: block;
  margin: 5px 10px;
  text-align: justify;
}

/* CSS dla strony logowania */

.section_login {
  width: 100%;
  height: 700px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_fields {
  width: 450px;
  height: 480px;
  background-color: rgb(42 , 41, 41);
  box-shadow: 0px 0 64px rgba(2255, 129, 57, 0.45);
  padding: 50px 30px;
  border-radius: 3%;
}

.login_fields input {
  color: #777;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
  margin-bottom: 40px;
}

.styling-login {
  display: flex;
  justify-content: center;
}

form .btn-login{
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgb(255, 129, 57);
  color: white;
  background: rgb(255, 129, 57);
  margin-top: 20px;
  margin: 10px 15px;
  padding: 15px 5px;
  transition: ease-in 0.2s;
}

form .btn-login:hover {
  border: 1px solid rgb(36, 193, 255);
  background-color: transparent !important;
}

.log_error {
  color: rgb(255, 129, 57);
  display: block;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}

.link-register {
  color: rgb(255, 129, 57);
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}

.btn-register {
  color: rgb(36, 193, 255);
  font-weight: 500;
  font-size: 15px;
  margin-left: 15px;
  text-align: right;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.btn-register:hover {
  color: rgba(36, 193, 255, 0.5);
}


/* CSS dla strony rejestracji */

.section_register {
  width: 100%;
  height: 900px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register_fields {
  width: 450px;
  height: 600px;
  background-color: rgb(42 , 41, 41);
  box-shadow: 0px 0 64px rgba(2255, 129, 57, 0.45);
  padding: 50px 30px;
  border-radius: 3%;
}

.register_fields input {
  color: #777;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
  margin-bottom: 40px;
}

.styling-register {
  display: flex;
  justify-content: center;
}

form .btn-newRegister{
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgb(255, 129, 57);
  color: white;
  background: rgb(255, 129, 57);
  margin-top: 20px;
  margin: 10px 15px;
  padding: 15px 5px;
  transition: ease-in 0.2s;
}

form .btn-newRegister:hover {
  border: 1px solid rgb(36, 193, 255);
  background-color: transparent !important;
}


/* CSS dla strony po zalogowaniu */

.home_page_section {
  width: 100%;
  height: 500px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_page_boxes {
  width: 100%;
  height: 200px;
  background-color: rgb(42 , 41, 41);
  margin: 10px 10px;
  padding: 30px 30px;
  border-radius: 3%;
}


/* CSS dla aktualizacji danych */

.section_update_data {
  width: 100%;
  height:700px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update_data_fields {
  width: 450px;
  height: 520px;
  background-color: rgb(42 , 41, 41);
  box-shadow: 0px 0 32px rgba(2255, 129, 57, 0.45);
  padding: 50px 30px;
  border-radius: 3%;
}


.update_data_fields input {
  color: #777;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
  margin-bottom: 40px;
}

.styling_update_data {
  display: flex;
  justify-content: center;
}

form .btn-update_data{
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgb(255, 129, 57);
  color: white;
  background: rgb(255, 129, 57);
  margin-top: 20px;
  margin: 10px 15px;
  padding: 15px 5px;
  transition: ease-in 0.2s;
}

form .btn-update_data:hover {
  border: 1px solid rgb(36, 193, 255);
  background-color: transparent !important;
}

/* Przycisk błędu i przy rejestracji */

.btn-login_now{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgb(255, 129, 57);
  color: white;
  background: rgb(255, 129, 57);
  margin-top: 20px;
  margin: 10px 15px;
  padding: 10px 5px;
  transition: ease-in 0.2s;
  text-decoration: none;
}

.btn-login_now:hover {
  border: 1px solid rgb(36, 193, 255);
  background-color: transparent !important;
}








/* Chrome, Safari, Edge, Opera - usuwanie strzałek w polu wypełnienia liczbowego*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - usuwanie strzałek w polu wypełnienia liczbowego */
input[type='number'] {
  -moz-appearance: textfield;
}



/* sekcja responsywna */

@media screen and (max-width: 992px){

  .navbar-toggler {
    background-color: rgb(255, 129, 57);
  }

  .navbar-toggler-icon {
    background-color: rgb(255, 129, 57);
  }

  .img-home {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
  }

  .calc-image {
    height: 350px;
    width: auto;
    right: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   .fat-diseases {
    height: auto;
   }

   .heading-fat-diseases {
    font-size: 34px;
    color: rgb(255, 129, 57);
    margin-top: 200px;
    margin-bottom: 120px;
    position: relative;
  }

  .what-next {
     height: auto;
  }

  .form-origin{
    height: auto;
  }

  .contact-form {
    height: auto;
    margin-top: 80px;
  }

  .contact-content {
    height: 100%;
    margin-top: 50px;
  }

  .bmi-form {
    height: auto;
  }

  .home_page_section {
    height: auto;
  }
}



@media screen and (max-width: 767px){

  .navbar-toggler {
    background-color: rgb(255, 129, 57);
  }

  .navbar-toggler-icon {
    background-color: rgb(255, 129, 57);
  }

  .home-heading {
    font-size: 39px;
    text-align: center;
    font-weight: 700;
    line-height: 74px;
    margin-top: 35px;
  }

  .img-home {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .calc-image {
    height: 300px;
    width: auto;
    right: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   .calc {
    height: 85%;
  }

  .fat-diseases {
    height: auto;
   }

  .heading-fat-diseases {
    font-size: 28px;
    color: rgb(255, 129, 57);
    margin-bottom: 120px;
    position: relative;
  }

}

@media screen and (max-width: 450px){

  .navbar-toggler {
    background-color: rgb(255, 129, 57);
  }

  .navbar-toggler-icon {
    /* border: 1px solid rgb(255, 129, 57); */
    background-color: rgb(255, 129, 57);
  }
  
  .home-heading {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    line-height: 74px;
  }
  
  .img-home {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
  }
  
  .calc-image {
    height: 300px;
    width: auto;
    right: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   .calc {
    height: 85%;
  }

  .fat-diseases {
    height: auto;
   }

  .heading-fat-diseases {
    font-size: 22px;
    color: rgb(255, 129, 57);
    margin-top: 270px;
    margin-bottom: 60px;
    position: relative;
  }

}
